.markdown-body h1{
    @apply text-center text-4xl font-bold my-4
}

.markdown-body h2{
    @apply text-3xl font-bold my-4
}

.markdown-body h3{
    @apply text-2xl font-bold my-4
}

.markdown-body h4{
    @apply text-2xl font-bold my-4
}

.markdown-body h5{
    @apply text-xl font-bold my-4
}

.markdown-body a{
    @apply underline opacity-50 hover:opacity-100 italic
}

.markdown-body code.not-in-pre{
    @apply mx-1 p-0.5 dark:bg-[#fff2] bg-[#0000000f] hover:bg-[#0000001f] dark:hover:bg-[#fff3] rounded-sm italic
}


.markdown-body ul li {
    list-style-type: disc;
    padding-left: 15px;
}

.markdown-body ul li ul li {
    list-style-type: circle;
}

.markdown-body ul li ul li ul li {
    list-style-type: square;
}
